<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name ="keys" type="OOP.Model.HotKey, OOP" allowLocation="true"
        allowDefinition="Everywhere"/>
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>


  <keys>
    <nextpage Key="Right"/>
    <prevpage Key="Left"/>
    <lastpage Key="Up"/>
    <firstpage Key="Down"/>
  </keys>
</configuration>